ForEach/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@triggerBody()",
                "actions": {
                    "Condition": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@item()?['status']",
                                        "active"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Append_to_array_variable_-_add__object": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "array",
                                    "value": "@addProperty(items('For_each'),'batchId',guid())"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_-_array": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_-_array": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "array",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Response_-_202_Accepted": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response_-_202_Accepted": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 202
                },
                "runAfter": {},
                "operationOptions": "Asynchronous"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "array"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}