ForEach/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Filter_array')",
                "actions": {
                    "Set_variable_-_add_additional_property": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "array",
                            "value": "@addProperty(items('For_each'),'batchId',guid())"
                        }
                    }
                },
                "runAfter": {
                    "Filter_array": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_-_array": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "array",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@variables('array')"
                },
                "runAfter": {
                    "For_each": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Filter_array": {
                "type": "Query",
                "inputs": {
                    "from": "@triggerBody()",
                    "where": "@equals('test','active')"
                },
                "runAfter": {
                    "Initialize_variable_-_array": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "array"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}